.todo-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

  ko-list-item {
    flex-basis: 100%;
  }

  @media (min-width: 768px) {
    ko-list-item {
      flex-basis: calc(50% - 8px);
    }
  }

  @media (min-width: 1400px) {
    ko-list-item {
      flex-basis: calc(25% - 12px);
    }
  }
}

